    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Index", "Home", new { Area = "" })"><div class="navbar-row-item">Back</div></a></li>
        <li><a href="@Url.Action("Index", "Announcements", new { Area = "" })"><div class="navbar-row-item">Announcements</div></a></li>
        <li><a href="@Url.Action("Index", "Documents", new { Area = "" })"><div class="navbar-row-item">Documents</div></a></li>
        <li><a href="@Url.Action("Index", "Members", new {Area = ""})"><div class="navbar-row-item">Members</div></a></li>
        <li><a href="@Url.Action("Index", "Feedback", new {Area = ""})"><div class="navbar-row-item">Feedback</div></a></li>
        <li><a href="@Url.Action("Index", "Chat", new { Area = "" })"><div class="navbar-row-item">Chat</div></a></li>
    </ul>