@using DragonsBlood.Models
@model LoginViewModel

<div id="LoginModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <span class="glyphicon glyphicon-remove-circle nest-right glyphicon-button" data-dismiss="modal" aria-label="Close" aria-hidden="true"></span>
                    <h4 class="modal-title">Log in</h4>
                </div>
                <div id="modalbody" class="modal-body">

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")
                    </p>
                </div>
                <div class="modal-footer">
                    <div id="modalfooter">
                        @Html.ActionLink("Register New User", "Register", "Account", null, new {@class = "btn btn-primary"})
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>